{% extends 'base.html' %}

{% block header %}
    <h1 class="center">{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container row">
    <form method="post" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Placeholder" id="username" type="text" class="validate" name="username">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" name="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
          <input class="col s2 offset-s5 btn waves-effect waves-light" type="submit" value="Register">
      </div>
    </form>
</div>
{% endblock %}  