<!DOCTYPE html>
<head>
    <!--Materialize stylesheet link-->
    <link type="text/css" rel="stylesheet" href="static/materialize.css"/>
    <title>Security Alerts</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a href="{{ url_for('index') }}" class="brand-logo" style="margin-left: 5%;">Security Alerts</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{{ url_for('index') }}">SecurityAlerts</a></li>
              <li><a href="{{ url_for('register') }}">SignUp</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="collection">
            {% for event in events %}
                <a href="#!" class="collection-item">EVENT: ID: {{ event[0] }} DATE: {{ event[1] }} AUTH: {{ event[2] }}</a>
            {% endfor %}
        </div>
    </div>
    <!--Materialize javascript link-->
    <script type="text/javascript" src="static/materialize.js"></script>
</body>
